*.coe
*.mif
*.bin
*.o
*.veo
*.xise
*.ngc
*.asy
*.cgc
*.cgp
*.log
*.pdf
*.gise
*.tcl
*.xmsgs
hardware/src/imem_blk_mem/_xmsgs/
hardware/src/dmem_blk_mem/_xmsgs/
hardware/src/mig_af/_xmsgs/
hardware/src/mig_rdf/_xmsgs/
hardware/src/mig_wdf/_xmsgs/
hardware/src/cache_blk_ram/_xmsgs/
hardware/src/bios_mem/_xmsgs/
hardware/src/bios_mem/bios_mem.xco
hardware/build/
hardware/sim/build/
hardware/sim/results/
*flist.txt
*gen_readme.txt
*.elf
*.swp
*~
hardware/sim2
